<main class="container text-center">
  <div class="spinner-border" role="status" *ngIf="isloading">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="card my-2 box" *ngIf="!isloading" >
    <div class="">
      <h5 class="card-title text-center">{{prestation.title}}</h5>
        <h6 class="card-subtitle mb-2 text-center fw-bold">{{prestation.category}}</h6>
    </div>
      <div class="card-body">
        <h6>Classic - {{prestation.price}} XAF</h6>
        <p class="card-text"> {{prestation.seance}}  </p>
        <hr>
        <h6>Gold - {{prestation.gold_price}} XAF</h6>
        <p class="card-text">{{prestation.gold}}  </p>
        <hr>
        <h6>Premium - {{prestation.premium_price}} XAF</h6>
        <p class="card-text"> {{prestation.premium}}  </p>
        <hr>
        <p class="text-center">
        <button (click)="gotoUpdate( prestation.pres_id||1)" class="card-link btn btn-secondary">Update</button>
        </p>
      </div>
    </div>
</main>

