@import "~bootstrap-icons/font/bootstrap-icons.css";



*{
    font-family: 'FiraSansRegular';
    font-size: 14px;
}
h1{
    color: #F460FC;
    font-weight: bold !important;
    padding: 1%;
    margin-top: 1%;
    font-size: 30px !important;
}

.btn-success{
    padding: 10px;
    background:#5DBAE5 !important;
    color: #fff;
    border: none !important;
  }
  .form-group{
    display: flex !important;
  }