@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-secondary{
  margin: 0 auto 0;
  padding: 5px;
  color: #fff;
  border: none !important;
  background:#53534F !important;

}

.btn-success{
  padding: 5px;
  background:#5DBAE5 !important;
  color: #fff;
  border: none !important;
}

section {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  padding: 0 13px;
}
.searchFormClass {
  padding: 0 13px;
}
.form-group {
  display: flex;
}
.form-group input {
  border-radius: 8px;
  border: 0.5px solid grey;
  padding: 0 12px;
}
h5 {
  font-weight: bolder;
  font-size: 21px;
}
p, h6 {
  font-size: 19px;
  letter-spacing: 1.5px;
}
.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

