@import "~bootstrap-icons/font/bootstrap-icons.css";

/* #5DBAE5(bleu), #F460FC(rose), #196C08(vert),
 #C7B14A(gold) #AA9225(satin gold) #53534F(gray)*/


*{
    font-family: 'FiraSansRegular';
    font-size: 14px;
}
h1{
    color: #F460FC;
    font-weight: bold !important;
    padding: 1%;
    margin-top: 1%;
    font-size: 30px !important;
}

h5{
    color: #F460FC;
    font-size: 20px !important;

}


.btn-secondary{
    width: 150px;
    height: 100%;
    margin: 0 auto 0;
    padding: 10px;
    background:#5DBAE5 !important;
    color: #fff;
    border: none !important;
}
