<div class="main container">
    <h1 class="text-center">FAQS</h1>
    <!-- Button trigger modal -->
<button *ngIf="isauth" type="button" class="btn btn-secondary m-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="bi bi-plus"></i> Add new faq
</button>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="staticBackdropLabel">New Faq</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-faq-form></app-faq-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="faq-list">
        <app-faq-card></app-faq-card>
    </div>
</div>
