<div class="container m-2">

    <h1 class="text-center">{{catName}} </h1>

    <div  class="card my-2" *ngFor="let post of posts" >
        <div class="card-body">
            <h4 class="card-title text-center">{{post.title}} </h4>
            <h6 class="text-center text-muted card-subtitle ">
                <span class="m-2 fw-bold">Published At: </span> {{post.create_at}}
                <span class="m-2 fw-bold">Category:  </span>{{post.category}}
            </h6>
            <div class="card-text p-2 my-3">
                {{post.summary}}
            </div>
            <div>
                <ul class="social_icons">
                    <li>
                        <span class=""> By: {{post.admin_name}} |</span> 
                    </li>
                    <li>
                        <a  href="{{post.facebook_url}}" target="_blank"><i class="bi bi-facebook"></i></a>
    
                    </li>
                    <li>
                        <a href="{{post.linkedin_url}}" target="_blank"><i class="bi bi-linkedin"></i></a>
    
                    </li>
                    <li>
                        <a href="{{post.twitter_url}}" target="_blank"><i class="bi bi-twitter"></i></a>
    
                    </li>
                </ul>
            </div>
            <div class="card-action">
                <button (click)="viewblogPost(post.post_id||1,post.slug)"  class="btn btn-success mx-3 read">Read More</button>
                <button *ngIf="isAdmin" (click)="editblogPost(post.post_id || 1 )"  class="btn btn-secondary mx-2">Edit</button>
                <button *ngIf="isAdmin" (click)="deleteblogPost(post.post_id || 1)"  class="btn btn-danger" type="submit">Delete</button>
               
    
            </div>
        </div>
    
    </div>
</div>