<div class="container">
 
    <div class="row my-5 p-2">
        <div class="col-lg-8 text-justify">
          <h1 class="fw-bold text-center">
            Qui Sommes Nous ?
          </h1>
          <div>
            <p class="main-hero-text">
              Bienvenue sur Franny.net ou nous célébrons ensemble l'intéressant voyage de la féminité, la maternite et la famille. Dans un monde en pleine mutation et une société africaine en perte de repères, notre application se positionne comme une boussole afin d’orienter filles ,femmes et mères dans leur voyage  féminin.
            </p>
            <p class="main-hero-text"> 
              Sans prétention aucune nous apportons notre modeste contribution a l’epanouissement de la femme car nous recconaissons que tel est le point de départ d’une famille épanouie et donc d’une nation qui évolue.


            </p>
             <!-- Button trigger modal -->
            <a href="https://wa.me/673869974" type="button" class="btn btn-secondary m-3" >
             Nous Contacter
            </a>
              <!-- Modal
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="staticBackdropLabel">Votre Message</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form (ngSubmit)="sendMessagetoSever(sendMessage)" #sendMessage="ngForm">
                        <div class="form-group">
                          <input type="email" ngModel class="form-control m-1" id="from" aria-describedby="email"
                            placeholder="votre email" name="from" #from="ngModel" >
                          
                        </div>
                        <small *ngIf="!from.valid && from.touched ">Please provide a valid title </small>

                        <div class="form-group my-2">
                          <textarea class="form-control m-1" id="text" placeholder="Nous sommes  à votre écoute!" 
                            name="text" ngModel #text="ngModel"></textarea>
                                            </div>
                        <small *ngIf="!text.valid && text.touched ">Please provide a valid title </small>
                        <button [disabled]="!sendMessage['valid']"  data-bs-dismiss="modal" type="submit" class="btn my-2 fw-bold">Envoyer</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div class="col-lg-3">
          <img class="img img-fluid" src="assets/images/women.png" alt="happy women day">
        </div>
    </div>


  <section class="body">
    <div class="col-lg-12">
      <h1 class=" text-center fw-bold">Notre Mission</h1>
      <div class="text justify our_mission_check">
        <ul>
          <li> <i class="bi bi-check"></i> Remettre la stabilité de la cellule familiale comme moteur de développement de la nation  entière au centre des débats 
          </li>
          <li> <i class="bi bi-check"></i> Permettre aux femmes d’embrasser leur féminité sans céder aux pressions des constructions sociales désuètes
          </li>
         
          <li> <i class="bi bi-check"></i>  Permettre a chaque fille,femme et mere, d’atteindre ses objectifs, personnels, professionels,sociaux et familiaux
          </li>
          <li> <i class="bi bi-check"></i>  Participer à l'amélioration de la santé maternelle et infantile à travers l'éducation et la sensibilisation</li>
          <li> <i class="bi bi-check"></i> Lutter contre la désinformation en matière de santé et de sexualité. Informer les filles et les femmes sur les sujets importants dont personne ne parle.
          </li>
        </ul>
      </div>
    </div>

    <!--Our vision-->
    <div class="row my-5 p-2">
            <div class="col-lg-3">
              <img class="img img-fluid" src="/assets/images/family.png" alt="super woman">
            </div>
            <div class="col-lg-9">
              <h1 class="fw-bold text-center">
                Notre Vision
              </h1>
              <p class="text-center">
                Parce que la famille est le noyau dur de la société, notre vision est de restaurer l'équilibre physique,psychologique et social au sein des familles afin d’assurer aux générations futures un environnement sain et stable nécessaire à la créativité, l'épanouissement et la réalisation de soi. 
              </p>
            </div>
    </div>
    <!--Our impact-->
    <!-- <div class="row my-5 p-2">
          <div class="col-lg-9">
            <h1 class="fw-bold text-center">
              Our Impact
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
              voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
              cupiditate inventore.</p>
          </div>
          <div class="col-lg-3">
            <img class="img img-fluid" src="assets/images/women_finish_line.png" alt="women objectivefinish line">
          </div>
    </div> -->

    <!--problems we are solving  -->
    <!-- <div class="row my-5 p-2">
      <div class="col-lg-3 text-center">
        <img class="img img-fluid" src="assets/images/question.png" alt="problem solving">
      </div>
      <div class="col-lg-9">
        <h1 class="fw-bold text-center">
          Problems We Are Solving
        </h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
          voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
          cupiditate inventore.</p>
      </div>
    </div> -->

    <!--Our core value -->
    <div class="row my-5 p-2">
      <div class="col-lg-9">
        <h1 class="fw-bold text-justify">
          Nos valeurs fondamentales 
        </h1>
        <!-- <p class="hero-body-header">we educate woman...</p> -->
        <div class="our_core_value">
          <ul>
              <li> <i class="bi bi-check"></i> <span class="fw-bold"> Évolution</span> Parce qu'il y a plusieurs façons d'être une femme, nous aidons chacune à marquer chaque jour un pas vers son objectif fixé.
              </li>
              <li> <i class="bi bi-check"></i> <span class="fw-bold">  Unité</span>  afin que l'ennemie de la femme cesses d'être la femme, nous féderons nos idées pour une meilleure condition féminine.</li>
              <li> <i class="bi bi-check"></i> <span class="fw-bold">Courage</span>  parce que c'est en brisant les chaines de la peur, de l'ignorance et de la discrimination que la femme africaine parviendra à se sauver elle et surtout sa progéniture, notre mantra reste et restera le courage.</li>
          </ul>
         
        </div>
      </div>
      <div class="col-lg-3 ">
        <img class="img img-fluid" src="/assets/images/super_woman.png" alt="A set women having fun">
      </div>
    </div>

    <div class="m-3">
      <h1 class="text-center fw-bold">Nous adhérons aux objectifs de dévelopement durable</h1>
      <div class="text-center my-5">
        <q cite="https://www.undp.org/fr/sustainable-development-goals/gender-equality" >
          Mettre fin à toutes les formes de discrimination à l'égard des femmes et des filles n'est pas seulement un droit humain fondamental, mais également essentiel pour accélérer le développement durable. Il a été prouvé à maintes reprises que l'autonomisation des femmes et des filles avait un effet multiplicateur et contribuait à stimuler la croissance et le développement économique dans tous les domaines.
        </q><br/>
        <a class="my-2 unlink" target="_blank" href="https://www.undp.org/fr/sustainable-development-goals/gender-equality" _target="blank">www.undp.org</a>
       
      </div>
       
      
    </div>

  </section>
  <section id="mytest"  class="text-center row p-2 m-2">
    <h1 class="text-center fw-bold  m-2 p-3">Contactez-Nous</h1>

    <div class="col-lg-4"></div>

    <div id="contact" class="col-lg-4 my-2 p-3">
      <div class="message-sent" *ngIf="messageSent">
        <h3 class="text-center">Message Envoyé !</h3>
      </div>
      <form (ngSubmit)="sendMessagetoSever()" #sendMessage="ngForm">
        <div class="form-group">
          <input type="email" ngModel class="form-control my-2" id="from" aria-describedby="email"
            placeholder="votre email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             name="from" #from="ngModel">
             <small style="color: red;"  *ngIf="!from.valid && from.touched ">Email incorrect </small>

          </div>

        <div class="form-group my-2">
          <textarea class="form-control my-3" id="text" required ngModel placeholder="Nous sommes  à votre écoute!" 
            name="text" minlength="50" #text="ngModel"></textarea>
            <small style="color:red;" *ngIf=" !text.valid && text.touched ">Ce champs est requis</small>

          </div>
          <button [disabled]="!sendMessage['valid']" type="submit" class="btn my-2 fw-bold">Envoyer</button>

      </form>
    </div>

    <div class="col-lg-4"></div>
  </section>
</div>