<section class="container">
  <div class="spinner-grow" role="status" *ngIf="isloading">
    <span class="sr-only">Loading...</span>
  </div>
    <div class="card my-2" *ngIf="!isloading">
      <div class="card-header">
        <h5 class="card-title"><span class="attributes">Rendez-vous:</span> {{rdv.rdvcode}}/{{rdv.rdv_id}}</h5>
          <div class="card-subtitle mb-2 text-center text-muted">{{rdv.category}} - {{rdv.ville}} - {{rdv.quartier}} - <span ngClass="{{rdv.rdvstate}} " > {{rdv.rdvstate}}</span> </div>
      </div>
        <div  class="card-body">
          <p class="card-text"><span class="attributes">Client Name:</span>{{rdv.client_name}} </p>
      
          <p class="card-text"><span class="attributes">Client Phone:</span> {{rdv.client_phone}}</p>
          <p class="card-text"><span class="attributes">Client Email:</span>  {{rdv.client_email}}</p>
          <p class="card-text"> <span class="attributes">Date du rdv:</span> {{rdv.rdvdate}}</p>
          <p class="card-text"><span class="attributes">Price:</span>  {{rdv.rdv_price}} </p>
          <p class="card-text"><span class="attributes"> State:</span> {{rdv.rdvstate}} </p>
          <p class="card-text"><span class="attributes">Assigned to:  </span>{{ rdv.bname }}</p>
          <p class="card-text"><span class="attributes">Comments:</span>{{rdv.comments}} </p>
          <hr>
          <p class="card-text" *ngIf="rdv.rdvstate===CancelApt"><span class="attributes">Cancellation reason:</span>{{rdv.cancellation_reason}} </p>
          <button *ngIf="!(rdv.rdvstate===complApt || rdv.rdvstate===CancelApt)" (click)="gotoUpdate(rdv.rdv_id || 1) " class="card-link btn btn-success mx-1">Update</button>
          <button *ngIf="!(rdv.rdvstate===complApt || rdv.rdvstate===OnApt || rdv.rdvstate===CancelApt )" (click)="gotoAssign(rdv.rdv_id || 1) " class="card-link btn btn-secondary mx-1">Assign</button>
          <button *ngIf="!(rdv.rdvstate===complApt || rdv.rdvstate===CancelApt)"   (click)="gotoCancel(rdv.rdv_id || 1) " class="card-link btn btn-danger"><i class="bi bi-x-circle mx-1"> Cancel</i></button>
          <button  *ngIf="!(rdv.rdvstate===complApt || rdv.rdvstate===CancelApt || rdv.rdvstate===schedApt)" (click)="gotoPayment(rdv.rdv_id|| 1) " class="card-link btn btn-primary mx-1">Make Payment</button>
          <button *ngIf="(rdv.is_review == false && rdv.rdvstate===complApt)" (click)="gotoReview(rdv.rdv_id || 1)"  class="card-link btn btn-primary mx-1">Add review</button>
        
        </div>
      </div>
    </section>
