<footer>
    <div  class="footer container-fluid px-3">
        <div class="row">
            <div class="col-lg-6 text-start  brand-container">
                    <ul class="brand">
                        <li><a class="navbar-brand" href="/posts" >Franny</a></li>
                        <li>Feminity - Maternity - Family</li>
                    </ul>
            </div>
            <div class="col-lg-6 text-lg-end py-2">
                <ul class="socials text-sm-center">
                    <li class="mx-2"><a target="_blank" href="https://www.facebook.com/profile.php?id=61555257222402"><i class="fa fa-brands fa-facebook"></i></a> </li>
                    <li class="mx-2"><a target="_blank" href="https://twitter.com/franny_network"><i class="fa fa-brands fa-twitter"></i></a> </li>
                    <li class="mx-2"><a target="_blank" href="https://wa.me/673869974"><i class="fa fa-brands fa-whatsapp"></i></a> </li>
                    <li class="mx-2 "><a target="_blank" href="https://www.instagram.com/franny_network?igsh=YzljYTk1ODg3Zg=="><i class="fa fa-brands fa-instagram"></i></a> </li>
                </ul>
            </div>
        </div>

    </div>  
    <div style="  background-color: #53534F;color: #F460FC; font-weight: bold; font-size: 12px; align-items: center;" class="text-center copyright">&copy; {{ date }} - Franny Network </div>


</footer>  

